<center>
    <img src="https://drive.google.com/drive/folders/1NGXxMSwnmlXi2yjs2Vq-hoj61f0zmtz8" width="1000"/>
</center>

# Tugas Mandiri 1
---

## Struktur Dasar Bahasa Pemrograman Python

<h2 id="rules">Aturan Penulisan Pernyataan (<i>Statement</i>) dengan Python </h2>

Pernyataan adalah instruksi atau kalimat perintah yang dapat dieksekusi oleh Python. Berikut adalah beberapa ketentuan mengenai pernyataan atau statement dalam Python. <br>Misalnya, <code>a = 1</code> adalah pernyataan tugas. Pernyataan <kbd>if</kbd>, pernyataan <kbd>for</kbd>, pernyataan <kbd>else</kbd>, etc adalah jenis pernyataan lain yang akan dibahas nanti.



<center>
    <img src="https://drive.google.com/uc?export=view&id=1-RMelrmuuCeqChJDNq-ipUzD9k0TwNqQ" />
</center>

# Tugas - Python basic Statement

In [1]:
# Latihan  : Isi BLANK!
# -----------------------------------------------------------#

# 1. Tetapkan variabel 'C' dengan nilai 129
C = 129

# 2. Deklarasikan variabel 'X' dengan nilai desimal
X = 5.14


# 3. Cetak tulisan 'Universitas Gunadarma'
print('Universitas Gunadarma')

Universitas Gunadarma

## Tugas - Deklarasi List

In [2]:
# Latihan : Isi <...>!
# -------------------------------------------------- --------#
# 4. Deklarasikan variabel yang disebut 'Hari' dan masukkan nama hari dalam seminggu
Hari = ['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu']
print(Hari)

['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu']

## Tugas - String Multiline

Buat variabel yang disebut <code>'nama_lengkap'</code> dengan isi nama anda dan <code>'bio'</code> isi dengan bio singkat Anda!

**Catatan** : untuk nilai Bio gunakan tanda petik tiga (''')

In [1]:
# 5. Tambahkan kode di bawah ini
nama_lengkap = "Alvito Hafizh Putra Haryanto"
bio = """Apapun yang terjadi tetaplah hidup"""

print(nama_lengkap)
print(bio)

Alvito Hafizh Putra Haryanto
Apapun yang terjadi tetaplah hidup

## Tugas - Variable Name

In [4]:
# Latihan  : Perbaiki KODE!
# -------------------------------------------------- --------#
# 6. Perbaiki variabel di bawah ini menjadi BENAR!

nama_saya = 'Ismail'
JenisKelamin = 'Laki-laki'
Break = 'Sukses'

## Tugas - Data Type (Int)

In [5]:
# Isi bagian yang kosong!
# ---------------------------------------------------------#
# 7. Deklarasikan  2 variabel dengan tipe data INTEGER dan cek tipe datanya menggunakan
# fungsi type()

positif = 10  # Bilangan Positif
negatif = -5  # Bilangan Negatif

print(type(positif))
print(type(negatif))

<class 'int'>
<class 'int'>

## Tugas - Data Type (Float)

In [6]:
# Latihan : Isi bagian yang kosong!
# ---------------------------------------------------------#
# 8. Deklarasikan 3 variabel tipe data FLOAT dengan nilai BERBEDA kemudian CEK tipe datanya dengan fungsi type()

float1 = 3.14
float2 = 2.718
float3 = 6.66

print(type(float1))
print(type(float2))
print(type(float3))

<class 'float'>
<class 'float'>
<class 'float'>

## Tugas - Python Indexing

Buat sebuah python <code>list</code> dengan berisikan nama-nama mobil sebagai berikut :  
-  Toyota
-  Honda
-  Ford
-  Chevrolet
-  BMW
-  Mercedes-Benz
-  Audi
-  Volkswagen
-  Nissan
-  Hyundai

In [7]:
# Latihan : Isi bagian yang kosong!
# 9. Deklarasikan variabel mobil dengan nama-nama mobil diatas dengan format list
mobil = ['Toyota', 'Honda', 'Ford', 'Chevrolet', 'BMW', 'Mercedes-Benz', 'Audi', 'Volkswagen', 'Nissan', 'Hyundai']

# Positive Indexing
# 10. Hasilkan output mobil 'Volkswagen'
print(mobil[7])

# Negative Indexing
# 11. Hasilkan output mobil 'Hyundai'
print(mobil[-1])

Volkswagen
Hyundai

## Operasi Aritmatika

In [8]:
# Latihan Kecil : Isi bagian yang kosong!
# -------------------------------------------------- --------#
# 12. Bagi 15 dengan 3 dan CETAK hasilnya
a = 15 / 3
print(a)

# 13. Jumlahkan 39 dengan 3 dan CETAK hasilnya
b = 39 + 3
print(b)

# 14. 10 pangkat 3 dan CETAK hasilnya
c = 10 ** 3
print(c)

# 15. Jumlahkan 10 dengan 3 lalu Kalikan dengan 5 dan CETAK hasilnya
e = (10 + 3) * 5
print(e)

5.0
42
1000
65

## Referensi
*   https://www.programiz.com/python-programming/statement-indentation-comments
*   https://www.tutorialsteacher.com/python/python-number-type#:~:text=In%20Python%2C%20integers%20are%20zero,valid%20integer%20literals%20in%20Python.&text=Integers%20can%20be%20binary%2C%20octal%2C%20and%20hexadecimal%20values.&text=All%20integer%20literals%20or%20variables%20are%20objects%20of%20the%20int%20class.
*   https://realpython.com/python-data-types/#strings
* https://www.w3schools.com/python/python_operators.asp



---


Copyright Â©2024 by Tim Pengembangan DGX, Universitas Gunadarma


https://www.hpc-hub.gunadarma.ac.id/